
/SomeShit/Library
/SomeShit/Packages
/SomeShit/Temp
/SomeShit/ProjectSettings
/SomeShit/Logs
/practika1/Assets/1. Free Hologram Interface Wenrexa
practika1/.vsconfig
practika1/Assembly-CSharp.csproj
practika1/.vs/practika1/FileContentIndex/0a1f2a6f-5123-46fb-b699-963f507866b3.vsidx
practika1/.vs/practika1/FileContentIndex/5cc09064-8c1e-4bdf-8a1e-cbe28ab27d73.vsidx
practika1/.vs/practika1/FileContentIndex/6c3dc754-da93-4ce6-8b48-d08c91d1bf5e.vsidx
practika1/.vs/practika1/FileContentIndex/8b31107b-c5fb-41aa-9897-f9f3857cb3f2.vsidx
practika1/.vs/practika1/FileContentIndex/f1bf14bb-1f72-47cb-8e12-6930975ed50d.vsidx
practika1/.vs/practika1/v17/DocumentLayout.json
practika1/.vs/practika1/v17/DocumentLayout.backup.json
practika1/.vs/practika1/v17/.suo
practika1/Library/AnnotationManager
/practika1/Library/APIUpdater
/practika1/Library
/practika1/Logs
/practika1/obj/Debug
/practika1/Packages
practika1/ProjectSettings/AudioManager.asset
/practika1/ProjectSettings
/practika1/UserSettings
SomeShit/SomeShit.sln
/SomeShit/UserSettings
